{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="text-center mb-4">About {{ site_name }}</h1>
            <div class="card">
                <div class="card-body">
                    <p class="lead">Welcome to Vendora - your premier multi-vendor e-commerce platform.</p>
                    <p>We connect customers with trusted vendors to provide the best shopping experience. Our platform enables businesses of all sizes to reach customers worldwide.</p>
                    <h4>Our Mission</h4>
                    <p>To empower businesses and provide customers with a seamless shopping experience through innovative technology.</p>
                    <h4>Why Choose Us?</h4>
                    <ul>
                        <li>Wide range of products from trusted vendors</li>
                        <li>Secure payment processing</li>
                        <li>Fast and reliable shipping</li>
                        <li>24/7 customer support</li>
                        <li>Easy returns and refunds</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}  